<h3>
	Department ID <%= @department.id %>
</h3>

<h2>
	<%= @department.name %>
</h2>

<a href="<%= departments_path %>">

	<button class="btn btn-primary">
		Go back to list of departments
	</button>

</a>